# Use Colab to analyze data from a file
Here's a few examples of how to get data from elsewhere into a Colab notebook.  
<hr />

### Upload a file directly:  

This only lasts for the duration of running this notebook. You'll need to repeat this if you close the notebook and come back to it later.

- In Colab, click folder icon in left menu. It's below the {x}
- Click the upload icon at top of that window
- Wait until you see the filename appear in the directory on the left. Then, 
- Right-click on the filename or click the 3 vertical dots at the end of the filename to "copy path"
- Paste that path as the URL in your read fucntion with single quotes around it.


### Read from a publicly available file on the web  
This works for most publicly available data you find on the web, but some cloud storage services (e.g., Google Drive, OneDrive) require a different procedure.  

You just need pandas and the URL to the file.  
1. Copy the file URL from your browser.  
2. Paste the URL into a pandas read function, like:  

    pd.read_csv('http://URL/of/file.csv')  

    or  

    pd.read_excel('http://URL/of/file.xls') # reads .xls and .xlsx

In [1]:
# here's an example
import pandas as pd
pd.read_csv('https://github.com/QuarkNet-HEP/coding-camp/raw/main/data/Single_Muon_Run2011A.csv')

,Run,Event,pt,eta,phi,Q,chiSq,dxy,iso,MET,phiMET
0,173389,489963747,29.3153,-0.139250,1.356110,1,0.845578,-0.060012,0.000000,30.66700,-2.130810
1,173389,490024840,44.1461,-1.359000,-0.538965,1,1.294310,-0.012581,26.342300,27.95210,-2.668610
2,173389,490102189,42.7895,-1.019350,2.339020,-1,0.807800,-0.084001,2.974760,5.15651,0.306059
3,173389,490092121,31.2215,-0.127033,-0.488923,-1,109.949000,0.072264,56.489700,4.21427,-0.116569
4,173389,490193981,36.9668,1.855660,1.377200,1,1.059700,-0.067624,41.491000,20.99630,-1.625060
...,...,...,...,...,...,...,...,...,...,...,...
155594,166782,478655384,32.9560,-0.999186,2.730180,-1,1.002640,-0.063018,0.000000,33.12890,-0.075555
155595,166782,478673976,31.2633,-1.184380,1.245790,1,1.015220,-0.063928,0.941652,24.03410,-2.679180
155596,166782,478673320,35.8388,0.970982,1.562630,-1,1.461930,-0.077680,36.223900,12.78920,1.471490
155597,166782,478692872,36.1021,-0.733396,-2.923620,-1,1.271120,-0.027985,1.235320,42.77720,-0.097858
155598,166782,478775024,38.0196,0.694119,1.485260,-1,0.785298,-0.073642,8.618690,27.73310,-2.688870

### Read from a Google Sheet
Use the method shown above to read a file from the web, but you'll need to adjust the URL a little.  

1.   Get the view-only link to the sheet.

  https://docs.google.com/blah-blah/edit?usp=sharing  


2.   Replace the last part with "export", like this:

  https://docs.google.com/blah-blah/export

## Read from a file stored in your own Google Drive
This reads for files stored in your Google Drive, like a csv or xlsx. If you need to access a Google Sheet, that's a different process. See the instructions above.

*Note: this only reads from your own Drive, not between users*  

- In Colab, click folder icon in left menu. It's below the {x}
- Then click Google Drive folder icon at top of that window. It'll ask you for permission.
- Wait until you see "drive" appear in the directory on the left. Then, 
- Navigate to the file you want to read in
- Right-click on the filename or click the 3 vertical dots at the end of the filename to "copy path"
- Paste that path as the URL in your read function with single quotes around it.

## Read from a file stored in OneDrive
*Coming soon*